<p-button id="triButton" type="button" icon="pi pi-pencil" styleClass="ui-button-raised ui-button-warning" pTooltip="Send Suggestions."tooltipPosition="left" label="Suggestions" (click)="suggestDialogShow=true"></p-button>
<p-dialog header="Submit suggestions for imporvements." [(visible)]="suggestDialogShow" [responsive]="true" [height]="500" [resizable]="false"
  [contentStyle]="{'overflow':'visible'}" [positionTop]="0" [closable]="false">
  <label>Suggestion</label><br>
  <textarea pInputTextarea rows="5" cols="30" [(ngModel)]="suggestions" autoResize="autoResize"></textarea>
  <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="sendSuggestions($event)" label="Send"></button>
      <button type="button" pButton icon="pi pi-times" (click)="cancel($event)" label="Cancel" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog> 
