/* You can add global styles to this file, and also import other style files */
h1 {
  color: white;
}

#errorButton {
  margin: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
}

body #errorButton .ui-button {
  background-color: red;
}
