/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

h1 {
  color: white;
}

#errorButton {
  margin: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
}

body #errorButton .ui-button {
  background-color: red;
}

p-dialog .ui-dialog {
  overflow: auto;
  max-height: 70%;
  max-width: 100%;
}

.ui-dialog-content {
  overflow: visible !important;
}

.loginDiv {
  display: flex;
  justify-content: center;
}
