<ul>
  <li *ngFor="let game of BoardGames" id="game._id">
    <p-panel [toggleable]="true" [collapsed]="true">
      <p-header>
        {{game.Name}}
      </p-header>
      <h5>Expansions</h5>
      <ul>
        <li *ngFor="let exp of game.Expansions">
          {{exp}}
        </li>
      </ul>
      <h5>Played Games</h5>
        <p-table [value]="game.Plays">
          <ng-template pTemplate="header">
            <tr>
              <th>Date</th>
              <th>Players</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-play>
            <tr>
              <td>{{play.Date}}</td>
              <td>{{play.Players}}</td>
            </tr>
          </ng-template>
        </p-table>
      <p-footer>
        <label>Add Expansion</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <label>Play Game</label>
      </p-footer>
    </p-panel>
  </li>
</ul>
<label>Add new game</label>