<ul>
  <li *ngFor="let game of BoardGames" id="game._id">
    <p-panel [toggleable]="true" [collapsed]="true">
      <p-header>
        {{game.Name}}
      </p-header>
      <h5>Expansions</h5>
      <ul>
        <li *ngFor="let exp of game.Expansions">
          {{exp}}
        </li>
      </ul>
      <h5>Played Games</h5>
        <p-table [value]="game.Plays">
          <ng-template pTemplate="header">
            <tr>
              <th>Date</th>
              <th>Players</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-play>
            <tr>
              <td>{{play.Date}}</td>
              <td>{{play.Players}}</td>
            </tr>
          </ng-template>
        </p-table>
      <p-footer>
        <button pButton type="button" label="Add Expansion" class="ui-button-raised" (click)="AddExpansion($event)"></button>&nbsp;
        <button pButton type="button" label="Play Game" class="ui-button-raised ui-button-success" (click)="PlayGame($event)"></button>
      </p-footer>
    </p-panel>
  </li>
</ul>
<button pButton type="button" label="Add new Board Game" class="ui-button-raised" (click)="AddBoardGame($event)"></button>

<!--Popups-->
<p-dialog title="Add Expansion" [(visible)]="expDialogShow" [modal]="true" [responsive]="true" [maximizable]="true" [baseZIndex]="10000">
    <span class="ui-float-label">
        <input id="expName" type="text" size="30" pInputText> 
        <label for="expName">Expansion Name</label>
    </span>
  <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="expDialogShow=false" label="Yes"></button>
      <button type="button" pButton icon="pi pi-close" (click)="expDialogShow=false" label="No" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<p-dialog title="Play a game" [(visible)]="playGameDialogShow" [modal]="true" [responsive]="true" [maximizable]="true" [baseZIndex]="10000">
    <p-autoComplete [(ngModel)]="player" [suggestions]="filteredPlayers" (completeMethod)="filterPlayers($event)" styleClass="wid100"
        [minLength]="1" placeholder="Add Players" (onKeyUp)="autoCompleteKeyPress($event)" (onSelect)="addPlayer($event)" [dropdown]="true">
    </p-autoComplete>
    <ul>
        <li *ngFor="let p of players">{{p}}</li>
    </ul>
    <h6>Date</h6>
    <p-calendar [(ngModel)]="date1"></p-calendar>
  <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="playGameDialogShow=false" label="Yes"></button>
      <button type="button" pButton icon="pi pi-close" (click)="playGameDialogShow=false" label="No" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>