<p-dataView #dv [value]="BoardGames$ | async" [paginator]="true" [rows]="10" filterBy="Name" [totalRecords]="(BoardGames$ | async)?.length"
            [rowsPerPageOptions]="[5,10,20,40]" [emptyMessage]="'No Boardgames Found.'" >
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-8" style="text-align:left">
                    <app-stat-bar></app-stat-bar>
                </div>
                <div class="ui-g-12 ui-md-4" style="text-align:right">
                    <p-autoComplete [(ngModel)]="searchGame" [suggestions]="filteredGames" (completeMethod)="filterPlayers($event)" inputStyleClass="modalAutoComp"
                    [minLength]="1" placeholder="Search Games" (keyup)="dv.filter($event.target.value)" (onSelect)="dv.filter($event.target.value)"></p-autoComplete>
                </div>
            </div>
        </div>
    </p-header>
  <ng-template let-game ngFor pTemplate="listItem">
      <div [id]="game.Id"> 
          <app-board-game-grid-item [boardGame]="game"></app-board-game-grid-item>
      </div>
  </ng-template>
</p-dataView>
