<button pButton type="button" label="Add new Board Game" class="ui-button-raised" (click)="ShowModal($event)"></button>
<p-dialog header="Add New BoardGame" [(visible)]="addBoardGameShow" [modal]="true" [responsive]="true" [maximizable]="true" [baseZIndex]="10000">
    <br>
    <span class="ui-float-label">
        <input id="expName" type="text" size="30" pInputText [(ngModel)]="NewBoardGame">
        <label for="expName">Boardgame Name</label>
    </span>
  <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="AddBoardGame()" label="Add"></button>
      <button type="button" pButton icon="pi pi-times" (click)="addBoardGameShow=false" label="Cancel" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
