<h1><button pButton type="button" icon="pi pi-plus" label="Board Game" class="ui-button-raised" (click)="ShowModal()"></button></h1>
<p-dialog header="Add New BoardGame" [(visible)]="addBoardGameShow" [modal]="true" [baseZIndex]="10000">
    <br>
    <span class="ui-float-label">
        <input id="expName" type="text" size="30" pInputText class="ui-inputtext" [(ngModel)]="NewBoardGame">
        <label for="expName">Boardgame Name</label>
    </span>
  <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="AddBoardGame()" label="Add"></button>
      <button type="button" pButton icon="pi pi-times" (click)="addBoardGameShow=false" label="Cancel" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
