<p-panel [toggleable]="true" [collapsed]="true">
    <p-header>
      {{boardGame.Name}}
    </p-header>
    <h3>Expansions</h3>
    <p>
      {{formatExpansionList(boardGame.Expansions)}}
    </p>
    <h3>Notes</h3>
    <p>
      {{boardGame.Notes}}
    </p>
    <h3>{{boardGame.Plays.length}} Games Played</h3>
      <p-table [value]="boardGame.Plays">
        <ng-template pTemplate="header">
          <tr>
            <th>Date Played</th>
            <th style="word-break: break-all;">Exp.</th>
            <th>Players</th>
            <th style="width:4rem"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-play>
          <tr>
            <td>{{formatDate(play.Date)}}</td>
            <td>{{formatPlayerList(play.Expansions)}}</td>
            <td>
              {{formatPlayerList(play.Players)}}
              <br><br>
              <label><b>Winner: </b></label>{{play.Winner}}
            </td>
            <td>
              <p-button type="button" icon="pi pi-trash" styleClass="ui-button-danger" (click)="removePlayedGame($event,play)" *ngIf="!userService.readonly"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    <p-footer>
      <app-add-expansion-modal [boardGame]="boardGame" *ngIf="!userService.readonly"></app-add-expansion-modal>
      <app-play-game-modal [boardGame]="boardGame" *ngIf="!userService.readonly"></app-play-game-modal>
      <app-boardgame-edit-modal [boardGame]="boardGame" *ngIf="!userService.readonly"></app-boardgame-edit-modal>
    </p-footer>
  </p-panel>
