<button pButton type="button" label="Play Game" class="ui-button-raised ui-button-success"
  (click)="PlayGame()"></button>
<p-dialog header="Play a game" [(visible)]="playGameDialogShow" [modal]="true" [responsive]="true" [baseZIndex]="10000"
  [height]="500" [resizable]="false" [positionTop]="0">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-sm-12">
      <p-fieldset legend="Info">
        <label>Played On</label><br>
        <p-calendar [(ngModel)]="date1" [maxDate]="today" [defaultDate]="today"></p-calendar>
        <br>
        <br>
        <div style="display: none">
          <label>Notes</label><br>
          <input type="text" size="30" pInputText [(ngModel)]="notes" maxlength="50">
        </div>
      </p-fieldset>
      <p-fieldset legend="Expansions">
        <p-listbox [options]="expansions" [(ngModel)]="selectedExpansions" multiple="multiple" checkbox="checkbox"
          [showToggleAll]="false" [filter]="false"></p-listbox>
      </p-fieldset>
    </div>
    <div class="ui-g-12 ui-md-6 ui-sm-12">
      <p-fieldset legend="Players">
        <p-autoComplete [(ngModel)]="player" [suggestions]="filteredPlayers" (completeMethod)="filterPlayers($event)"
          styleClass="wid100" [minLength]="1" placeholder="Add Players" (onKeyUp)="autoCompleteKeyPress($event)"
          (onSelect)="addPlayer($event)" [dropdown]="true">
        </p-autoComplete>
        <br>
        <ul>
          <li *ngFor="let p of players">{{p}}</li>
        </ul>
        <br>
        <label for="winnerTxt">Winner</label><br>
        <input id="winnerTxt" type="text" class="ui-inputtext" pInputText [(ngModel)]="gameWinner">
      </p-fieldset>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="saveGamePlay($event)" label="Done"></button>
    <button type="button" pButton icon="pi pi-times" (click)="playGameDialogShow=false" label="Cancel"
      class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>