<button pButton type="button" label="Play Game" class="ui-button-raised ui-button-success" (click)="PlayGame($event)"></button>
<p-dialog header="Play a game" [(visible)]="playGameDialogShow" [modal]="true" [responsive]="true" [maximizable]="true" [baseZIndex]="10000" [height]="500" [resizable]="false"
  [contentStyle]="{'overflow':'visible'}">
    <label>Date: </label><p-calendar [(ngModel)]="date1"></p-calendar>
    <br>
    <br>
    <p-autoComplete [(ngModel)]="player" [suggestions]="filteredPlayers" (completeMethod)="filterPlayers($event)" styleClass="wid100"
      [minLength]="1" placeholder="Add Players" (onKeyUp)="autoCompleteKeyPress($event)" (onSelect)="addPlayer($event)" [dropdown]="true">
    </p-autoComplete>
    <br>
    <ul>
      <li *ngFor="let p of players">{{p}}</li>
    </ul>
    <br>
    <span class="ui-float-label">
      <input id="winnerTxt" type="text" size="40" pInputText [(ngModel)]="gameWinner">
      <label for="winnerTxt">Winner</label>
    </span>
  <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="saveGamePlay($event)" label="Done"></button>
      <button type="button" pButton icon="pi pi-close" (click)="playGameDialogShow=false" label="Cancel" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
