<!--The content below is only a placeholder and can be replaced.-->
<p-toolbar>
  <div class="ui-toolbar-group-left">
    <h1>
      Board Games
    </h1>
  </div>
  <div class="ui-toolbar-group-right">
      <app-refresh-data></app-refresh-data>
  </div>
</p-toolbar>
<div style="text-align:center;">
  <app-board-game-grid></app-board-game-grid>
  <ngx-spinner
    bdColor="rgba(0,0,0,0.8)"
    size="Large"
    color="#ff0"
    type="pacman">
  <h2 style="color:white">Loading...</h2>
  </ngx-spinner>
</div>
<app-error-button id="errorButton"></app-error-button>

