<p-toolbar>
  <span>
    <div class="ui-toolbar-group-left">
      <h1>
        Board Games
      </h1>
    </div>
    <div class="ui-toolbar-group-right" [hidden]="!userService.validUser">
        <app-add-board-game-modal style="display:inline-block"></app-add-board-game-modal>&nbsp;<app-refresh-data style="display:inline-block"></app-refresh-data>&nbsp;<app-logout style="display:inline-block"></app-logout>
    </div>
  </span>
</p-toolbar>
<div style="text-align:center;">
  <app-board-game-grid [hidden]="!userService.validUser"></app-board-game-grid>
  <app-login [hidden]="userService.validUser || userService.createUser"></app-login>
  <app-create-user [hidden]="!userService.createUser"></app-create-user>
  <ngx-spinner
    bdColor="rgba(0,0,0,0.8)"
    size="Large"
    color="#ff0"
    type="pacman">
  <h2 style="color:white">Loading...</h2>
  </ngx-spinner>
</div>
<p-toast position="top-center"></p-toast>
<div>
  <p-toolbar>
    <span style="text-align: center;">
        <div class="ui-toolbar-group-left">
          <h5>Powered by Angular, Docker, and Raspberry Pi's. Source code available on <a href="https://github.com/WireMonkey/BoardGameApp" target="_blank">GitHub</a>.</h5>
        </div>
        <div class="ui-toolbar-group-right">
          <app-error-button></app-error-button>
        </div>
    </span>
  </p-toolbar>
</div>
