<p-toolbar>
  <span>
    <div class="ui-toolbar-group-left">
      <h1>
        Board Games
      </h1>
    </div>
    <div class="ui-toolbar-group-right">
        <app-add-board-game-modal style="display:inline-block"></app-add-board-game-modal>&nbsp;<app-refresh-data style="display:inline-block"></app-refresh-data>
    </div>
  </span>
</p-toolbar>
<div style="text-align:center;">
  <app-board-game-grid></app-board-game-grid>
  <ngx-spinner
    bdColor="rgba(0,0,0,0.8)"
    size="Large"
    color="#ff0"
    type="pacman">
  <h2 style="color:white">Loading...</h2>
  </ngx-spinner>
</div>
<p-toast position="top-center"></p-toast>
<div class="footer">
  <p-toolbar>
    <span>
        <div class="ui-toolbar-group-left">
          <h5>Powered by Angular and PrimeNG.</h5>
        </div>
        <div class="ui-toolbar-group-right">
          <app-error-button id="errorButton"></app-error-button>
        </div>
    </span>
  </p-toolbar>
</div>


